@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background: transparent;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-link {
    padding-top: 1rem;
}

.sidebar .nav-link .bi {
    color: #000000; /* Set icon color to black */
}

.navbar {
    background: transparent;
    z-index: 1;
    padding: 10px 0;
}

main {
    margin-left: 280px;
    padding: 0.5rem 2rem;
}



.sidebar .top1 .nav-link {
    padding-left: 2rem;
}

.col {
    margin-right: 2rem;
}

.low-stock {
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 15px;
    background: #dc3545;
    width: 40px;
    display: block;
    text-align: center;
} /* Red for low stock */
.medium-stock {
    font-weight: bold;
    color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    background: #ffc107;
    width: 40px;
    display: block;
    text-align: center;
} /* Yellow for medium stock */
.high-stock {
    font-weight: bold;
    color: #ffffff;
    padding: 3px;
    border-radius: 15px;
    background: #28a745;
    width: 40px;
    display: block;
    text-align: center;
}